@model DBPPGrupoo1.Clientes

@{
    ViewBag.Title = "Delete";
}

<div class="custom-edit">
    <h1>Eliminar Clientes</h1>

    <h4>Desea borrar el siguiente registro?</h4>
    <div>
        <br />
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre_Comercial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre_Comercial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Activo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Activo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MetodoPago.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MetodoPago.Descripcion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>