@model DBPPGrupoo1.MetodoPago

@{
    ViewBag.Title = "Details";
}

<div class="custom links">

    <div style="font-size:larger">
        <h2>Metodos de Pago</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CantidadDias)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CantidadDias)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Dolar_US)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Dolar_US)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Activo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Activo)
            </dd>

        </dl>
    </div>
    <p>
        <table>
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.MetodoPagoID }) |
                                @Html.ActionLink("Regresar", "Index")
                            </td>
            </tr>
        </table>
      
    </p>
</div>

<style>



</style>