@model IEnumerable<DBPPGrupoo1.Facturas>

@{
    ViewBag.Title = "Index";
}

<div class="custom">
    <h2>Registro de Facturas</h2>
    <br />



    <div class="btn-text-left">
        <button type="button" class="btn"> @Html.ActionLink("Agregar Nuevo", "Create")</button>
    </div>

    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes.Nombre_Comercial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetodoPago.Descripcion)
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Precio Total
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendedores.Nombre) Vendedor
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clientes.Nombre_Comercial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetodoPago.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendedores.Nombre)
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FacturasID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FacturasID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FacturasID })
                </td>
            </tr>
        }

    </table>
</div>

<script>
    var d = new Date();
    var date = d.getUTCDate();
    document.getElementById("fecha").innerHTML = date;
</script>