@model IEnumerable<DBPPGrupoo1.Detalle>

@{
    ViewBag.Title = "Index";
}

<div class="custom" >
    <h2>Reporte de Detalle</h2>
    <br />



    <div class="btn-text-left">
        <button type="button" class="btn"> @Html.ActionLink("Agregar Detalle de Compra", "Create")</button>
    </div>

    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facturas.FacturasID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos.CodigoUPC)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Facturas.FacturasID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Productos.CodigoUPC)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.DetalleID }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.DetalleID }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.DetalleID })
                </td>
            </tr>
        }

    </table>
</div>